html{
    display: flex;
    justify-content: center;
    color: black;
}

body{
    width: 500px;
}

h1{
    color: black;
    border: 1px black solid;
    text-align: center;
}

div{
    border: 1px black solid;
}

